<html>
    <head>
        <title>Looped</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Looped Home Page</a></h1>
        </div>

        <div>
            <p>Stay In The Loop With Looped</p>
            <h2><a href="">My Last Post</a></h2>
            <p>First test, testing, test.</p>
        </div>

        <div>
            <p>published: 05.04.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
